.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.home-text{
font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.08;
    text-align: center;
    color: #fff;
}
.home-title{
font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: center;
    color: #dff1ef;
text-shadow: 0 0 20px rgba(85, 238, 217, 0.7);
}
.home-text-two{
    width: 265px;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
}
.home-container{
    padding-right: 90px;
}
.home-wrapper{
    margin-top: 200px;
    width: 680px;
    margin-right: 0;
    margin-left: auto;
    gap: 24px;
}
.home-text{
font-size: 24px;
}
.home-title{
font-size: 102px;
    line-height: 0.96;
    letter-spacing: 0.04em;
}
.home-text-two{
    width: 357px;
}    
}
/* About the Game */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
}
.about-big{
font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.28;
    color: #6f6a81;
margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
.about-container{
    padding-top: 110px;
flex-direction: row;
gap: 48px;
}
.about-wrapper{
width: 528px;
}
.about-wrapper h2{
    margin-bottom: 32px;
}
.about-big{
font-size: 24px;
}    
}
/* Daily Activities */
.daily-section{
background: radial-gradient(104.32% 104.32% at 50% 50%, #6d597a 0%, #2b2237 100%);
}
.daily-text{
color: #dff1ef;
text-align: center;
}
.daily-swiper{
margin-top: 32px;
}
.daily-swiper .swiper-slide{
border-radius: 24px;
    padding: 40px 20px;
    width: 284px;
    height: 359px;
box-shadow: 8px 8px 32px 0 rgba(63, 56, 71, 0.12);
    background: #fffcf7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.daily-swiper .swiper-slide img{
width: 160px;
    height: 159px;
}
.daily-slide-title{
    margin-top: 8px;
    font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.28;
        letter-spacing: 0.02em;
        text-align: center;
        color: #433579;
margin-bottom: 16px;
}
.daily-slide-text{
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.daily-swiper{
margin-top: 48px;
}
.daily-swiper .swiper-slide{
border-radius: 32px;
    width: 341px;
    height: 409px;
}
.daily-swiper .swiper-slide img{
width: 211px;
    height: 210px;
}
.daily-slide-title{
font-size: 26px;
}

}