.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.home-text{
font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.08;
    text-align: center;
    color: #fff;
}
.home-title{
font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: center;
    color: #dff1ef;
text-shadow: 0 0 20px rgba(85, 238, 217, 0.7);
}
.home-text-two{
    width: 265px;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
}
.home-container{
    padding-right: 90px;
}
.home-wrapper{
    margin-top: 200px;
    width: 680px;
    margin-right: 0;
    margin-left: auto;
    gap: 24px;
}
.home-text{
font-size: 24px;
}
.home-title{
font-size: 102px;
    line-height: 0.96;
    letter-spacing: 0.04em;
}
.home-text-two{
    width: 357px;
}    
}
/* About the Game */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
}
.about-big{
font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.28;
    color: #6f6a81;
margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
.about-container{
    padding-top: 110px;
flex-direction: row;
gap: 48px;
}
.about-wrapper{
width: 528px;
}
.about-wrapper h2{
    margin-bottom: 32px;
}
.about-big{
font-size: 24px;
}    
}
/* Daily Activities */
.daily-section{
background: radial-gradient(104.32% 104.32% at 50% 50%, #6d597a 0%, #2b2237 100%);
}
.daily-text{
color: #dff1ef;
text-align: center;
}
.daily-swiper{
margin-top: 32px;
}
.daily-swiper .swiper-slide{
border-radius: 24px;
    padding: 40px 20px;
    width: 284px;
    height: 359px;
box-shadow: 8px 8px 32px 0 rgba(63, 56, 71, 0.12);
    background: #fffcf7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.daily-swiper .swiper-slide img{
width: 160px;
    height: 159px;
}
.daily-slide-title{
    margin-top: 8px;
    font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.28;
        letter-spacing: 0.02em;
        text-align: center;
        color: #433579;
margin-bottom: 16px;
}
.daily-slide-text{
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.daily-swiper{
margin-top: 48px;
}
.daily-swiper .swiper-slide{
border-radius: 32px;
    width: 341px;
    height: 409px;
}
.daily-swiper .swiper-slide img{
width: 211px;
    height: 210px;
}
.daily-slide-title{
font-size: 26px;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1053px;
}
.features-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.features-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.features-item-title{
color: #433579;
font-weight: 600;
}
@media only screen and (min-width: 1440px) {
.features-section{
    background-image: url("/img/features/back-desk.png");
height: 779px;
}
.features-container{
flex-direction: row;
align-items: center;
gap: 48px;
}
.features-wrapper{
width: 562px;
}
.features-list{
    margin-top: 32px;
    gap: 24px;
}  
}
/* World Regions */
.world-section{
    background-image: url("/img/world/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.world-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    margin-top: 32px;
    margin-bottom: 16px;
    border: none;
    background-color: inherit;
border-radius: 100%;
}
.btn img{
width: 100%;
height: auto;
border-radius: 100%;
box-shadow: 0 0 20px rgba(85, 238, 217, 0.7);
}
.world-swiper .swiper-slide{
border-radius: 24px;
    width: 343px;
    height: 430px;
    background: #fffcf7;
display: flex;
flex-direction: column;
align-items: center;
}
.world-slide-title{
    margin-top: 24px;
font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.28;
    letter-spacing: 0.02em;
    text-align: center;
    color: #433579;
}
.world-slide-text{
    margin-top: 8px;
    width: 279px;
text-align: center;
}
@media only screen and (min-width: 1440px) {
.world-section{
    background-image: url("/img/world/desk.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.world-section h2{
text-align: center;
}
.world-text{
    text-align: center;
}
.world-navigation{
display: none;
}
.world-swiper{
    margin-top: 48px;
}
.world-swiper .swiper-wrapper{
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
.world-swiper .swiper-slide{
border-radius: 32px;
    width: 528px;
    height: 441px;
}
.world-slide-title{
font-size: 26px;
}
.world-slide-text{
width: 464px;
}    
}
/* Advantages */
.advantages-wrapper{
    margin-top: 32px;
    display: flex;
flex-direction: column;
align-items: center;
}
.advantages-list{
    background-image: url("/img/advantages/list.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
}
.advantages-item{
border-bottom: 1px solid rgba(111, 106, 129, 0.3);
    padding: 8px 0px;
color: #433579;
font-weight: 600;
}
.advantages-img{
    margin-top: -10px;
    z-index: 0;
}
@media only screen and (min-width: 1440px) {
.advantages-wrapper{
    margin-top: 48px;;
    flex-direction: row;
}
.advantages-list{
    background-image: url("/img/advantages/list.png");
    border-radius: 32px;
padding: 48px;
    width: 442px;
    height: 510px;
}   
.advantages-img {
    margin-top: 0;
    margin-left: -20px;
}
}